.input{
    margin-bottom: 2%;
}
#myInput {
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 2%; /* Add some space below the input */
}
.btn{
    float: left;
}
